#root {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --top-navbar-height: 56px;
}
/* Reset base styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: #191919;
  color: white;
}

text {
  color: white;
}

p {
  text-align: left;
}
/* Ensure the navbar stays at the top and spans the full width */
.navbar {
  width: 100%;
  height: var(--top-navbar-height); /* Define the height variable */
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333; /* Dark grey */
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 1100; /* Higher than side-navbar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-custom {
  background-color: #191919;
}
.navbar-container {
  margin-left: 5em;
  margin-right: 5em;
}

.side-navbar {
  width: 250px;
  height: calc(100vh - var(--top-navbar-height)); /* Full height minus the top navbar height */
  position: fixed;
  top: var(--top-navbar-height); /* Start below the top navbar */
  left: 0;
  background-color: #141414; /* Dark grey */
  color: white;
  padding-top: 20px;
  overflow-y: auto; /* Add scroll if content overflows */
  z-index: 1050; /* Lower than top-navbar */
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}

.side-navbar .nav-link {
  color: white;
  margin: 0 10px;
  border-radius: 25px;
}

.side-navbar .nav-link:hover {
  background-color: #495057;
  color: white;
  border-radius: 25px;
}

.model-navbar {
  width: 250px;
  height: calc(100vh - var(--top-navbar-height)); /* Full height minus the top navbar height */
  position: fixed;
  top: var(--top-navbar-height); /* Start below the top navbar */
  left: 0;
  background-color: #141414; /* Dark grey */
  color: white;
  padding-top: 20px;
  overflow-y: auto; /* Add scroll if content overflows */
  z-index: 1050; /* Higher z-index to ensure it is in front of the header */
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}

.chatContainer {
  display: flex;
  height: 50px;
  background-color: transparent;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  position: fixed;
  max-width: 35%;
  bottom: 25px;
  left: 0;
  right: 0;
  padding: 10px;
  width: 60rem;
}

.chatInput {
  width: 60rem;
  height: 50px;
  display: flex;
  flex-direction: row;
  background-color: #4e4e4f;
  color: white;
  border-radius: 10px;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);

}

.chatInput::placeholder {
  color: rgba(255, 255, 255, 0.6); /* Makes the placeholder text semi-transparent white */
}


.chatInputGroup {
  background-color: transparent;
  color: white;
}

.search-container {
  display: flex;
  height: 50px;
  background-color: transparent;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  position: fixed;
  max-width: 35%;
  left: 0;
  right: 0;
  padding: 10px;
  width: 60rem;
}

.search-input-group {
  background-color: transparent;
  color: white;
}

.search-input {
  width: 20rem;
  height: 40px;
  display: flex;
  flex-direction: row;
  background-color: #4e4e4f;
  color: white;
  border-radius: 10px;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.form-control {
  background-color: transparent;
  border-color: transparent;
  color: #ffffff;
  width: 40rem;
}

.form-control::placeholder {
  color: #ffffff;
  opacity: 1; /* Override any default opacity */
}

.form-control:focus {
  background-color: #4e4e4f;
  border-radius: 10px;
  border-color: transparent;
  box-shadow: none;
  color: #ffffff;
}

.chat-button {
  border-radius: 10px;
  background-color: #4e4e4f;
  border-color: transparent;
}

.chat-attach-button {
  height: 50px;
  width: 50px;
  margin-right: 5px;
  background-color: #4e4e4f;
  border-color: transparent;
  color: white;
}

.chat-attach-button:hover {
  background-color: #5d5d5e;
}

.chat-button:hover {
  background-color: #5d5d5e;;
  border-color: transparent;
}


.user-settings-btn {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  margin-right: 5px;
  background-color: #4e4e4f;
  border-color: transparent;
  color: white;
}

div {
  font-palette: light;
}

/* Add padding to the container to prevent overlap with the fixed navbar */
.main-container {
  margin-top: 4rem; /* Adjust according to the navbar height */
}

.content {
  margin-left: 250px; /* Same width as the side-nav */
  padding: 20px;
  margin-top: 56px; /* Adjust according to the height of top navbar */
  flex-grow: 1;
}

.dropdown {
  background-color: #191919;
  color: white;
  border-radius: 15px;
}

.dropdown-menu {
  background-color: #191919;

}